body {
    margin: 0;
}

.background-top {
    background-color: #1F2937;
}

.div-section-one {
    background-color: #1F2937;
    border: 2px solid red;
    height: 400px;
}

.div-h1 {
    border: 2px solid red;
}