/* Body */
body {
    margin: 0;
}

/* Header section */
.header-div{
    background-color: #1F2937;
    border: 2px solid red;
}

/* Hero section */
.hero-section{
    background-color: #1F2937;
    border: 2px solid red;
    height: 400px;
}

/* Information section */
.info-section {
    border: 2px solid red;
    height: 400px;
}

/* Quote section */
.quote-section {
    background-color: #E5E7EB;
    border: 2px solid red;
    height: 400px;
}

/* Quote section paragraph */
.quote-para {
    color: #1F2937;
    font-size: 36px;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 70px;
}

/* Quote section author paragraph */
.quote-author-para {
    color: black;
    font-size: 24px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    margin-left: 75%;
}

/* Call to action section */
.action-section {
    border: 2px solid red;
    height: 350px;
}

/* Call to action section div */
.action-div {
    background-color: #2882F6;
    border: 2px solid red;
    height: 200px;
    width: 80%;
    margin: 65px auto;
    border-radius: 20px;
}

/* Call to action section div header */
.action-h2 {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    color: white;
    border: 2px solid red;
}

/* Call to action section div paragraph */
.action-para {
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
    border: 2px solid red;
    margin-top: 0;
}


/* Call to action section div button */
.action-button {
    background-color: #2882F6;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 150px;
    height: 45px;
    font-size: 18px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

/* Footer div */
footer {
    background-color: #1F2937;
    border: 2px solid red;
    height: 80px;
}

/* Footer div text */
.footer-text {
    color: #F9FAF8;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 30px;
}